/*
==== GLOBAL ====
*/

body {
	background: LightGrey;
	font-family: "proxima-nova", sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid #000;
}


/*
==== LAYOUT ====
*/

.container {
	padding: 0px 15px;
}


/*
==== NAVIGATION ====
*/

.top-navigation .links a {
	text-decoration: none;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	color: #838994;
	font-size: 16px;
	font-family: "proxima-nova", sans-serif; 
}

.top-navigation .links li.active {
	color: #4c5058;
	font-weight: 600;
}

.top-navigation a:hover {
	color: #333333;
}

.top-navigation {
	background: #fff;
}

.top-navigation > .container {
	width: 940px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation li {
	float: left;
	margin-top: 28px;
	margin-left: 30px;
}

.top-navigation .links {
	float: right;
	display: inline-block;

}

.logo {
	height: 70px;
	width: 26px;
/*	margin-left: 12px;*/
	background-repeat: no-repeat;
}


/*
==== INTRODUCTION ====
*/

.introduction {
	background: url('https://dy53q6sor7j4i.cloudfront.net/assets/bg-graphic-go-2d18f6f49ce18d38642600987ceed918.jpg') center bottom no-repeat;
	width: 100%;
	height: 480px;
	background-size: cover;
}




