/*
==== GLOBAL ====
*/

h1, h2, h3, h4 {
	text-align: center;
	letter-spacing: 0.03em;
}

/*
==== LAYOUT ====
*/

.content {
	box-sizing: border-box;
	padding: 0px 0px;
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

/*.grid {
	margin-top: 90px;
}*/

.left, .middle, .right {
	display: inline-block;
}

.left {
	width: 26%;
	float: left;
}

.middle {
	width: 42%;
	background: blue;
}

.right {
	width: 32%;
	float: right;
	height: 100px;
	background: orange;
}

/*
==== TOP NAVIGATION ====
*/

.top-navigation .logo {
	height: 70px;
}

.top-navigation .links {
	float: right;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: #838994;
	font-size: 16px;
	margin-top: 27px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 28px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

.top-navigation .links li.active {
	color: #4c5058;
	font-weight: 700;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation {
	background: #fff;
}

.top-navigation > .content {
	width: 940px;
	height: 70px;
	margin: 0 auto;
}


/*
==== INTRODUCTION ====
*/

.introduction {
	background: url('../img/first-background.jpg') center bottom no-repeat;
	width: 100%;
	height: 550px;
	background-size: cover;
	overflow: auto;
}

.introduction h1 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 50px;
	margin-top: 165px;
}

.introduction h3 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 26px;
	margin-top: 25px;
}

.buttons {
	text-align: center;
	margin-top: 35px;
}

.btn {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	vertical-align: middle;
}

.btn-lrge {
	padding: 16px 26px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 4px;
}

.btn-primary {
	background-color: #f15a29;
	color: #fff;
	text-shadow: none;
	border-style: none;
	cursor: pointer;
}

.btn-primary:hover {
	background: #d9400e;
}

.btn-watch {
	color: #fff;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.33;
/*	background: green;*/
	margin-left: 20px;
}

.btn-watch:hover {
	cursor: pointer;
	opacity: 0.8;
}

.play-icon {
/*	background: red;*/
	float: left;
}

.btn-watch span {
	margin-left: 10px;
	margin-top: 5px;
	display: inline-block;
/*	background: blue;*/
}

.arrow {
	margin-top: 110px;
}


/*
==== LEARN MORE ====
*/

.cases {
	height: 528px;
}

.cases .devices {
    width: 30.33%;
    display: inline-block;
    text-align: center;
    margin-top: 64px;
    padding-left: 20px;
    /* styles to assist with debugging */
/*    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;*/
}

.cases h2 {
	color: #1d1e21;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 44px;
	margin-top: 148px;
}

.cases h3 {
	color: #1d1e21;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-top: 36px;
}

.devices p {
	color: #1d1e21;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 22px;
	text-align: center;
	line-height: 1.5;
	padding: 0 5px;
}


/*
==== KARMA GO ====
*/

.karma-go {
	background: url('../img/second-background.jpg') center bottom no-repeat;
	width: 100%;
	height: 830px;
	background-size: cover;
	overflow: auto;
}

.about {
	width: 29%;


}

.about h3 {
	text-align: left;
	color: #f15a29;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-top: 148px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.about p {
	color: #585e69;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 19px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	line-height: 1.5;
	margin-top: 22px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.about .btn-primary {
	margin-top: 25px;
}


/*
==== FOOTER ====
*/

.company {
	text-align: left;
	display: inline-block;
}

.blogo, .company, .support, .shop, .news {
	display: inline-block;
	text-align: left;
	width: 100%;
}

.company {
	float: left;
}

.support {
	float: right;
}

.social .title {
	color: #4c5058;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin-top: 22px;
	display: block;
}

.footer .social > p {
	color: #838994;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin-bottom: 100px;
}

.input-group {
	position: relative;
	display: table;
	height: 40px;
}

.form-control {
	border: 1px solid #caccd1;
	border-radius: 4px;
	padding: 6px 12px;
	height: 35px;
	width: 100%;
	font-size: 18px;
}

hr {
    border: 1px solid #efefef;
}

.icons {
	text-align: center;
}

.fa {
	display: inline-block;
}

.icons li {
	display: inline-block;
	text-align: center;
}

.icons .fa {
	height: 42px;
	width: 42px;
	font-family: FontAwesome;
	border: 1px solid #eaebec;
	border-radius: 50%;
	margin: 20px 10px;
	text-align: center;
	line-height: 44px;
	vertical-align: -15%;
}

.icons li .fa-twitter {
	color:#55ACEE;
}

.icons li .fa-facebook {
	color:#4c66a4;
}

.icons li .fa-instagram {
	color:#3f729b;
}

.icons li .fa-twitter:hover {
	color:#3ea1ec;
	cursor: pointer;
}

.icons li .fa-facebook:hover {
	color:#445b93;
	cursor: pointer;
}

.icons li .fa-instagram:hover {
	color:#386589;
	cursor: pointer;
}




