
body {
	background: LightGrey;
}

div {
	border: 1px solid red;
}

.top-navigation {
	color: #fff;
}

.top-navigation > .container {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.logo {
	height: 60px;
	width: 26px;
	background-image: url('https://dy53q6sor7j4i.cloudfront.net/assets/karma-wordmark-154a757ec336f1b3f56d19daeef7efdd.svg');
	background-repeat: no-repeat;
}

.introduction {
	background: url('https://dy53q6sor7j4i.cloudfront.net/assets/bg-graphic-go-2d18f6f49ce18d38642600987ceed918.jpg') center bottom no-repeat;
	width: 100%;
	height: 480px;
	background-size: cover;
}